#clickable-divs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    row-gap: 0;
    column-gap: 0;
    max-width: fit-content;
    max-height: fit-content;
}

.clickdiv {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid aquamarine;
    border-radius: 1px;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: small;
}